@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6b7280; /* gray */
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* blue on hover */
}

/* Dark mode */
.dark ::-webkit-scrollbar-thumb {
  background: #374151;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}

.dark * {
  scrollbar-color: #374151 transparent;
}